config configuration 'mqtt_sub_startup'
    option enable            0
    option username          ''
    option password          ''
    option tls               '0'
    option port              ''
    option ip_address        ''
    option user_email        ''
    option email_pass        ''
    option destination_email ''

config topic
    option topic             '/topic1'

config topic
    option topic             '/topic2' 

config topic
    option topic             '/topic3'

config topic
    option topic             '/topic4'  

config topic
    option topic             '/topic5'

config topic
    option topic             '/topic6'

config event
    option topic            '/topic1'
    option parameter_name   'temperature_string'
    option parameter_type   'string'
    option condition        '3'
    option expectedValue    'cold'

config event
    option topic            '/topic1'
    option parameter_name   'temperature_string2'
    option parameter_type   'string'
    option condition        '3'
    option expectedValue    'hot'

config event
    option topic            '/topic2'
    option parameter_name   'temperature_int'
    option parameter_type   'int'
    option condition        '1'
    option expectedValue    '28'

config event
    option topic            '/topic3'
    option parameter_name   'ac_status_string'
    option parameter_type   'int'
    option condition        '3'
    option expectedValue    'on'